@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000;
  }
  a:link {
    color: #9cf;
  }
  a:hover,
  a:visited:hover {
    color: #cef;
  }
  a:visited {
    color: #c9f;
  }
}

body {
  margin: 1em auto;
  max-width: 30em;
  padding: 0 0.62em;
  font: 1.6em/1.7 Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica, Arial, sans-serif;
  text-align: left;
  background: #001724;
  color: #f5f5f5;
  letter-spacing: 0.01em;
  line-height: 1;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

a {
  color: #ffdc09;
}

.highlight {
  color: #ffff33;
}

@media print {
  body {
    max-width: none;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
